.search_comment_loading, .add_comment_loading{
	display: none;
}
#the-list .list:comment th#like.manage-column {
	width:8%;
}
#the-list .list:comment th#comment.manage-column {
	width:60%;
}
#the-list .list:comment td.like {
	font-weight:bold;
	color:#627AAD;
}